* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #dddddd;
	z-index: -100;
}
img {
	user-select: none;
}
li, ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

::-webkit-scrollbar{
    width: 15px;
	background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background-color: #FF1B00;
}

/*!header , only_header*/

#header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30vh;
	z-index: 0;
	background-image: url('/imgs/sub_bg.gif');
}
#only_header {
	z-index: 1;
	position: absolute;
	height: 15vh;
	width: 80vw;
	left: 50vw;
	transform: translate(-50%, 0%);
	margin: 10px 0 0 0;
	user-select: none;
}
#header_button {
	height: 30%;
	text-align: right;
}
#header_button a button {
	font-weight: bold;
	background-color: #ffffff;
	border: 1px solid #00a5ca;
	color: #00a5ca;
	border-radius: 5px;
	padding: 3px 5px;
	margin: 1.25vh 10px 0 0;
	cursor: pointer;
	outline: none;
}
#header_menu {
	z-index: 2;
	display: flex;
	height: 60%;
	margin: 1.5vh 0 0 0;
	background-color: #3e3c52;
	border-radius: 5px;
	box-shadow: 3px 3px 10px;
}
#header_menu img {
	height: 100%;
	padding: 0 10px 0 10px;
	border-radius: 5px 0 0 5px;
	background-color: #262439;
	cursor: pointer;
}
#header_menu ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 85%;
}
#header_menu ul div {
	height: 100%;
	width: 7vw;
	cursor: pointer;
	color: #FFFFFF;
	background-color: #00000000;
}
#header_menu ul div:hover {
	background-color: #313041;
}
#header_menu ul div > a {
	display: table;
	text-align: center;
	height: 100%;
	width: 100%;
}
#header_menu ul div a {
	text-decoration: none;
}
#header_menu ul div a span {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	color: #ffffff;
}

#header_menu ul div ul {
	display: block;
	width: 10vw;
	height: auto;
	box-shadow: 2px 2px 5px #000000;
	background-color: #3e3c52;
	overflow: hidden;
	max-height: 0;
}
#header_menu ul div:hover ul{
	display: block;
	transition: max-height 1s;
	max-height: 300px;
}
#header_menu ul div ul a {
	text-decoration: none;
}
#header_menu ul div ul a li{
	padding: 7%;
	color: #ffffff;
}
#header_menu ul div ul li:hover{
	background-color: #313042;
}
#header_text {
	position: absolute;
	top: 22.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	font-weight: bold;
}
#header_text a {
	text-decoration: none;
	color: #000000;
}
#innerDate {
	position: absolute;
}

/*!index*/
#index_container {
	height: 150%;
	position: relative;
	margin-bottom: 50px;
}

#banner {
	z-index: -2;
	position: absolute;
	height: 100%;
	width: 100%;
}
#index_content {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	background-color: #dddddd;
	z-index: -1;
	background: linear-gradient(to top, #dddddd, white);
}

#index_content_main {
	height: 100%;
	box-shadow: 2px 2px 10px;
	transform: translate(0, -10%);
	width: 70%;
	background-color: #ffffff;
}
#blank {
	height: 55%;
}
#index_content_main div:first-child {
	display: inline;
}

#index_content_main div {
	display: flex;
	height: 50%;
}
#index_content_main div ul a {
	text-decoration: none;
	color: #000000;
}
#index_content_main div h2 {
	padding: 20px 0 20px 20px;
}
#index_content_main div ul {
	width: 50%;
	list-style: none;
}
#index_content_main div:first-child ul {
	border-bottom: 1px solid #ebebeb;
	width: 100%;
	height: 50%;
}
#index_content_main div ul a:nth-child(2n) li {
	background-color: #dee2e6;
}
#index_content_main div ul a li {
	padding: 5px 0 5px 20px;
	margin: 0 10px;
}

/*!footer*/

#footer {
	position: relative;
	min-height: 20%;
	height: auto;
	background-color: #313042;
	text-align: center;
}

#footer img {
	height: 10%;
}

#info_indus {
	color: #ffffff;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 12px;
	border-right: 1px solid #000000;
}

#info_indus span {
	padding: 0 10px;
}

#info_indus span a {
	color: #ffffff;
	text-decoration: none;
}

#info_cap span {
	color: #ffffff;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10px;
	border-right: 1px solid #000000;
}

#info_cap span:last-child {
	border-style: none;
}

/*!board_write*/

#board_write {
	width: 100%;
	height: auto;
	min-height: 80%;
	display: flex;
	justify-content: center;
	background-color: #ffffff;
}
#board_frame {
	width: 70%;
	height: 100%;
	margin-top: 2%;
}
#board_frame > table {
	width: 100%;
	height: 80%;
	border-collapse: collapse;
}
#board_write_tbody {
	height: 100%;
}
#board_write_tbody tr td input, #board_write_tbody tr td textarea {
	outline: none;
}
#board_write_tbody tr td {
	padding: 0;
}
#board_write_tbody tr:first-child {
	height: 10%;
}
#board_write_tbody tr:first-child input {
	margin-left: 10px;
	font-size: 1rem;
	padding: 10px;
}
#board_write_tbody tr:nth-child(2) td {
	padding: 10px;
	height: 80%;
	text-align: center;
}
#board_write_tbody tr:nth-child(2) td textarea {
	min-width: 90%;
	min-height: 450px;
	resize: none;
	font-size: 15px;
	padding: 15px;
	margin: 10px 5%;
	box-sizing: border-box;
	border: 1px solid #cecece;
}
#board_write_tbody tr:nth-child(3) td > input {
	margin-left: 10px;
	font-size: 1rem;
	padding: 8px 10px;
}
#board_write_tbody tr:last-child {
	height: 10%;
}
#board_write_tbody tr:last-child input {
	margin-left:10px;
	padding: 10px;
}
#board_write_tbody tr th{
    width: 100px;
    padding: 10px 13px;
    border: 1px solid #cfcfcf; /*#c4c4c4;*/
    background: #ebebeb;
    color: #383838;
    text-align: left;
    font-size: 0.8em;
}
#board_write_tbody tr td{
	padding: 10px 0;
	border: 1px solid #cfcfcf;
}
#board_title {
	padding-left: 20px;
	font-size: 20px;
	height: 50%;
	width: 70%;
}
#board_link {
	font-size: 20px;
	margin-right: 10px;
	height: 40%;
	width: 50%
}
#board_button {
	padding: 20px; 
	text-align: center;
}
#board_button button {
	width: 80px;
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #3c95d5;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}
#board_button button:first-child {
	background: #3c95d5;
	color: #ffffff;
}
#board_button button:first-child:hover {
	background-color: #0071c2;
}
#board_button button:last-child {
	color: #0071c2;
}
#board_button button:last-child:hover {
	background-color: #00a5ca;
}


/*!board_list*/

#board_list {
	height: auto;
	min-height: 60vh;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #ffffff;
}
#board_list_frame {
	height: 100%;
	width: 65%;
}
#board_list_table {
	width: 100%;
	margin-top: 8%;
	border-collapse: collapse;
	border-spacing: 0;
}
.list_num {
	width: 7%;
	height: 60px;
	text-align: center;
}
.list_title {
	width: 75%;
	padding-left: 20px;
	text-align: start;
}
.list_writer {
	width: 11%;
	text-align: center;
}
.list_date {
	width: 7%;
	text-align: center;
}
.list_tt_num {
	width: 7%;
	height: 60px;
	text-align: center;
}
.list_tt_title {
	width: 75%;
	padding-left: 20px;
}
.list_tt_writer {
	width: 11%;
	text-align: center;
}
.list_tt_date {
	width: 7%;
	text-align: center;
}
#board_list_table thead tr th {
	height: 40px;
	font-size: 0.8rem;
	background-color: #ebebeb;
	border: 1px solid #c4c4c4;
}
#board_list_table tbody tr td {
	height: 40px;
	font-size: 0.8rem;
	color: #666;
	border: 1px solid #c4c4c4;
}
#board_list_button {
	text-align: end;
	padding: 2% 0;
}
#board_list_button button {
	color: #ffffff;
	background: #3c95d5;
	border: none;
    border-radius: 3px;
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
}
#board_list_button button:hover {
	background-color: #0071c2;
}
/*?board_list_nolist*/
#board_list_nolist {
	height: 51%;
}
#board_list_nolist p {
	padding-top: 10%;
	text-align: center;
	font-size: 1.5rem;
}

/*!board_view*/

#bo_v_container {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	background-color: #ffffff;
}
#bo_v {
	padding: 10px;
	width: 70%;
}
#bo_v_title {
	padding: 15px 20px;
    color: #444;
    font-size: 1.2em;
    background: #ebebeb;
    border: 1px solid #c4c4c4;
}
#bo_v_if {
	padding: 15px 20px 10px;
    border: 1px solid #dfdfdf;
    border-top: none;
}
#bo_v_info {
	padding-bottom: 5px;
}
#bo_v_info strong {
    display: inline-block;
    margin: 0 10px 0 5px;
	color: #444;
}
.if_r {
	float: right;
	color: #949494;
}
#bo_v_top {
	height: 27px;
	margin: 0;
	padding: 10px 0;
	zoom: 1;
}
#bo_v_top > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bo_v_nb {
	float: left;
}
.bo_v_com {
	float: right;
}
.bo_v_com > li {
	float: left;
	margin-left: 5px;
}
#bo_v_top > ul > li > a {
	font-size: 0.75rem;
}
#bo_v a.btn_b01 {
    padding: 8px;
    border: 0;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
	vertical-align: middle;
}
#bo_v a.btn_b02 {
	color: #ffffff;
	text-decoration: none;
    border-radius: 3px;
    background: #3c95d5;
    border: 1px solid #3c95d5;
	padding: 7px;
}
#bo_v_atc {
    min-height: 200px;
    height: auto !important;
    height: 200px;
    padding: 20px;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
}
#bo_v_atc_title {
	position: absolute;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
#bo_vc {
    margin: 0;
    padding: 20px 20px;
    border: 1px solid #dfdfdf;
    background: #fff;
    border-bottom: 0;
}
#bo_vc h2 {
	font-size: 0;
}
#bo_vc > p:last-child {
	padding: 0 0 5px;
    line-height: 1.8em;
    color: #555;
}
#bo_vc_empty {
	margin: 0;
    padding: 20px !important;
    text-align: center;
    font-size: 1.083em;
    color: #999;
}
#bo_vc_w {
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
#bo_vc_w h2 {
    position: absolute;
    font-size: 0;
    line-height: 0;
	overflow: hidden;
}
.tbl_cmt table {
    background: #ebebeb;
    border: 1px solid #c4c4c4;
	width: 100%;
	font-size: 0.75em;
}
#wr_content {
	resize: none;
	height: 50px;
	width: 100%;
}
.tbl_cmt table th {
    text-align: left;
    padding-left: 20px;
    width: 80px;
    color: #444;
}
#wr_container {
	display: flex;
}
#wr_content {
    border: 1px solid #c4c4c4;
    background-color: #fff !important;
    width: 745px;
    height: 80px;
    resize: none;
    overflow: auto;
    padding: 10px;
}
.tbl_cmt table td {
    position: relative;
    padding: 10px 0 0;
}
.cmt_scr {
	font-size: 1em;
	padding: 10px 0;
}
.btn_confirm {
	padding: 5px 15px;
}
.tbl_cmt .btn_submit {
	outline: none;
	color: #ffffff;
    height: 72px;
	width: 100px;
	background: #3c95d5;
	border: 1px solid #3c95d5;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
#bo_vc_comment {
	padding: 10px;
}
#bo_vc_comment header {
    position: relative;
    padding: 0 0 5px;
	color: #949494;
	font-size: 0.75em;
}
#bo_vc_comment header > span:first-child {
    font-weight: bold;
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0;
    color: #111;
}
#bo_vc_comment > p {
	font-size: 0.75em;
	min-height: 50px;
	border-bottom: 1px solid #ccc;
}

/*!sinup*/
#siin_container {
	padding: 50px 0;
    height: 500px;
	width: 700px;
	margin: 0 auto;
}
#siin_frm {
	width: 600px;
	height: 400px;
    margin: 0 auto;
	padding-bottom: 30px;
}
.login_form {
	height: 400px;
	clear: both;
	border: 1px;
	border-radius: 15px;
}
.id_area, .pw_area {
	height: 150px;
	position: relative;
}
.input_row{
	position: relative;
	height: 100%;
	padding: 10px 20px;
	background: #fff;
	border-radius: 10px 10px 0 0;
}
.lbl {
	font-weight: bold;
	font-size: 22px;
}
.int {
	font-size: 20px;
    line-height: 16px;
    position: relative;
    width: 100%;
	height: 50px;
	padding: 10px;
	margin-top: 30px; 
    color: #000;
	border: none;
	background: #fff;
	border: 1px solid #4b3f5f;
}
#siin_btn {
	width: 600px;
	height: 60px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #4c8796;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 0 0 10px 10px;
}
#gosignup {
	width: 60px;
	margin: 5px auto;
}
#gosignup a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	font-size: 15px;
}

/*!sinup*/
#siup_container {
	padding: 50px 0;
    height: 750px;
	width: 700px;
	margin: 0 auto;
}
#siup_frm {
	width: 600px;
	height: 400px;
    margin: 0 auto;
	padding-bottom: 30px;
}
.login_form {
	height: 400px;
	clear: both;
	border: 1px;
	border-radius: 15px;
}
.id_area, .pw_area, .name_area {
	height: 150px;
	position: relative;
}
.input_row{
	position: relative;
	height: 100%;
	padding: 10px 20px;
	background: #fff;
	border-radius: 10px 10px 0 0;
}
.lbl {
	font-weight: bold;
	font-size: 22px;
}
.int2 {
	font-size: 20px;
    line-height: 16px;
    position: relative;
    width: 100%;
	height: 50px;
	padding: 10px;
	margin-top: 30px;
    color: #000;
	border: 1px solid #4b3f5f;
    background: #fff;
}
#siup_btn {
	width: 600px;
	height: 60px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	background-color: #4c8796;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 0 0 10px 10px;
}